<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="public/css/style.css">
    <style>
        .h1{
            font-size: 3.5rem;
            font-weight: lighter;
        }
        .h1::after{
            content: "";
            background-color: #0eb582;
            display: block;
            width: 11rem;
            border-radius: 0 10rem 10rem 0;
            height: 0.4rem;

        }
    </style>
</head>
<body>
    <header class="header">

        <a href="#" class="logo"> <i class="fas fa-lightbulb"></i> Quizzo </a>
     
        <nav class="navbar">
           <div id="close-navbar" class="fas fa-times"></div>
           <a href="/">Home</a>
           <a href="compete.html">Compete</a>
           <a href="/practice">Practice</a>
           <a href="/login" id="account-btn">Login</a>
        </nav>
     
        <div class="icons">
           <!-- <div id="account-btn" class="fas fa-user"></div> -->
           <div id="menu-btn" class="fas fa-bars"></div>
        </div>
     
     </header>

<!-- ------------practice_category----------- -->
     
<section class="subjects">

    <h1 class="heading">CATEGORIES</h1>
   <br>

   <h1 class="h1">Coding</h1>
   <br>
   <br>
    <div class="box-container">
 
       <div class="box">
          <a href="#" target="_blank">
          <img src="images/subject-icon-1.png" alt="">
          <h3>C</h3>
          </a>
          
       </div>
 
       <div class="box">
        <a href="#" target="_blank">
            <img src="images/subject-icon-1.png" alt="">
            <h3>C++</h3>
            </a>
       </div>
 
       <div class="box">
        <a href="#" target="_blank">
            <img src="images/subject-icon-1.png" alt="">
            <h3>Python</h3>
            </a>
          
       </div>
 
       <div class="box">
        <a href="#" target="_blank">
            <img src="images/subject-icon-1.png" alt="">
            <h3>Java</h3>
            </a>
          
       </div>
 
       <div class="box">
        <a href="#" target="_blank">
            <img src="images/subject-icon-1.png" alt="">
            <h3>Javascript</h3>
            </a>
       </div>
 
    </div>

    <!-- -------------------Apti/Reas--------------------- -->

    <br><br> <br> <br> <br>
 
    <h2 class="h1">Apti/Reas</h2>
    <br><br>
     <div class="box-container">
  
        <div class="box">
           <a href="cat.html" >
           <img src="images/subject-icon-1.png" alt="">
           <h3 class="Quant_h1" >Quantitative Aptitude</h3>
           </a>
           
        </div>
  
        <div class="box">
           <a href="/cat" >
            <img src="images/subject-icon-2.png" alt="">
            <h3 >Logical Reasoning</h3>
           </a>
           
        </div>
  
        <div class="box">
           <a href="cat.html" >
            <img src="images/subject-icon-3.png" alt="">
            <h3 class="Quant_h1" >Verbal Ability</h3>
            
           </a>
        </div>
  
     </div>
<!-- ------------------computer subjects--------------- -->
     <br> <br> <br> <br> <br>
 
    <h2 class="h1">Cse Subjects</h2>
    <br><br>
     <div class="box-container">
  
        <div class="box">
           <a href="#" target="_blank">
           <img src="images/subject-icon-1.png" alt="">
           <h3>OOPS</h3>
           </a>
           
        </div>
  
        <div class="box">
            <a href="#" target="_blank">
                <img src="images/subject-icon-1.png" alt="">
                <h3>Operating System </h3>
                </a>
        </div>
  
        <div class="box">
            <a href="#" target="_blank">
                <img src="images/subject-icon-1.png" alt="">
                <h3>Database Management System</h3>
                </a>
        </div>

        <div class="box">
            <a href="#" target="_blank">
                <img src="images/subject-icon-1.png" alt="">
                <h3>Computer Networks</h3>
                </a>
         </div>

     </div>
 
 </section>
 <script src="public/js/changes.js"></script>

</body>
</html>